* {
    margin: 0;
    padding: 0;
}

.first-section {
    background-image: url("../img/white-background.png");
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
}

.header-text {
    width: 127px;
    height: 52px;
    color: #262626;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-left: 165px;
    margin-top: 50px;
}

.menu {
    width: 757px;
    height: 12px;
    color: #262626;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 94px;
    margin-top: 60px;
    cursor:pointer;
}

.list > li {
    display: inline;
    margin-left: 40px;
}

li:hover  {
    border-top: 3px solid #ff6033;
    padding-top: 8px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.large-text {
    width: 387px;
    height: 46px;
    color: #262626;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: 900;
    line-height: 25px;
    text-align: left;
}

.main-text {
    width: 368px;
    height: 70px;
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    margin-top: 40px;
}

.button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    cursor:pointer;
    margin-top: 30px;
    position: relative; 
    transition: all 300ms ease-out; 
    transform-style: preserve-3d;
}

.button:after { 
    content: 'GET FREE NOW'; 
    position: absolute; 
    top: -50%;
    left: 0px;
    width: 100%; 
    background: #835ab3;
    transform-origin: bottom; 
    transform: rotateX(90deg); 
}
    
.button:hover { 
    transform-origin: bottom; 
    transform: rotateX(-90deg); 
}

.container {
    margin-top: 300px;
    margin-left: 164px;
}

#second-section {
    width: 1500px;
    height: 700px;
    background-color: #00c4c4;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    margin: 0 auto 150px;
    display: flex;
}

.image {
    padding-top: 70px;
    padding-left: 135px;
}

.first-text {
    width: 494px;
    height: 67px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.main-text-second {
    width: 499px;
    height: 188px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
}

.second-container {
    margin: 180px 166px 231px 100px;
}

.scroll {
    margin-left: 500px;
}

.scroll {
    margin: 250px 568px;
}
    



